.uactable td {
  padding: 10px 20px !important;
}

.savebtn {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.savebtn .savetable {
  background: #444d99;
  color: #fff;
  text-align: center;
  font-size: 15.86px;
  line-height: 16.78px;
  font-weight: 600;
  padding: 13px 15px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
}

.savebtn .savetable:hover {
  background: #000;
}

.savebtn .savetable img {
  margin-right: 5px;
}

.rolewrap {
  display: flex;
  justify-content: center;
}

.rolewrap > .mid-head {
  width: 400px;
}

.selectcolor {
  background: #747dc4 !important;
  color: #fff;
  border: none;
  outline: none;
  height: 40px;
  border-right: 8px solid transparent;
}

option {
  background-color: #fff;
  color: black;
}

.ordering-input {
  border: none;
  background: whitesmoke;
  padding: 7px 10px;
  border-radius: 7px;
}

.uacCheckbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
