.error-msg {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

label span {
  color: red;
}

.wrapper {
  display: flex;
}

#root {
  background: white;
  max-height: 100vh;
  overflow: hidden;
}

 input:disabled,
select:disabled {
  border: 1px #b2b7de solid !important;
  background-color: "whitesmoke" !important;
} 

label {
  margin-bottom: 0 !important;
}

input:disabled + label {
  margin-bottom: 0 !important;
}

/* monazir */

.lefttext{width: 100%;}


/* .flexing{flex-wrap: nowrap !important;} */

.tteeaad{
  /* height: 600px !important; */
}


.message-heading{
  width: 50%;
  margin: 0 auto;
}
.message-heading p{
  text-align: center;
  font-size: 12px;
  padding: 3px;
  background: rgb(139, 137, 137);
  margin: 0;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  color: #fff;


}